<!DOCTYPE html>
<html lang="es">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Christian Ledgard</title>

  <!-- Bootstrap core CSS -->
  <link href="{{url_for('static', filename = 'vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{{url_for('static', filename = 'vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{url_for('static', filename = 'css/grayscale.css')}}" rel="stylesheet">

  <!-- Custom styles for this template - Google ICONS -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Christian Ledgard Ferrero</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#yo">Yo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#mas">+</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contacto">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container d-flex h-100 align-items-center">
      <div class="mx-auto text-center">
        <h1 class="mx-auto my-1">Christian Ledgard</h1>
        <h2 class="text-white-50 mx-auto mt-2 mb-5">Studing Computer Science at UTEC. From Lima, Perú.</h2>
        <a href="#yo" class="material-icons js-scroll-trigger" style="font-size:36px;color:RGB(225,225,225,0.8)">expand_more</a>
      </div>
    </div>
  </header>

  <!--About Section -->
  <section id="yo" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 mx-auto">
          <h2 class="text-white mb-4">¿Quién soy?</h2>
          <p class="text-white-50">
            Mi nombre es Christian Ledgard y actualmente estoy estudiando en la Universidad
            de Ingeniería y Tecnología (UTEC). A grandes razgos, me considero una persona
            apasionada por la tecnología y el bien que genera en la sociedad.
            Es fundamental hoy en día estar al tanto con los nuevos avances y nuevas tendencias.
            Considero que todas las personas deberían adoptar un pensamiento más computacional ya que
            permite tener otra perspectiva de cómo funciona el mundo.
            Me gustaría tener la posibilidad de compartir estos conocimientos con distintas personas.
            Estoy seguro que se pueden lograr grandes cosas.
          </p>
        </div>
      </div>
      <!--<img src="{{url_for('static', filename = 'img/ipad.png')}}" class="img-fluid" alt="">-->
    </div>
  </section>


  <!-- Projects Section -->
  <section id="mas" class="projects-section bg-light">
    <div class="container">

      <!-- Featured Project Row -->
      <div class="row align-items-center no-gutters mb-4 mb-lg-5">
        <div class="col-xl-8 col-lg-7">
          <img class="img-fluid mb-3 mb-lg-0" src="{{url_for('static', filename = 'img/christian.jpg')}}" alt="">
        </div>
        <div class="col-xl-4 col-lg-5">
          <div class="featured-text text-center text-lg-left">
            <h4>Laser</h4>
            <p class="text-black-50 mb-0">He representado al Perú en distintas competencias internacionales navegando Laser Radial.</p>
          </div>
        </div>
      </div>

      <!-- Project One Row -->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
        <div class="col-lg-6">
          <img class="img-fluid" src="{{url_for('static', filename = 'img/sunset2.jpg')}}" alt="">
        </div>
        <div class="col-lg-6">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-left">
                <h4 class="text-white">Fotografía</h4>
                <p class="mb-0 text-white-50">Unos de mis hobbis es la fotografía. Me encanta tomar fotos a paisajes increíbles.</p>
                <hr class="d-none d-lg-block mb-0 ml-0">
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Project Two Row -->
      <div class="row justify-content-center no-gutters">
        <div class="col-lg-6">
          <img class="img-fluid" src="{{url_for('static', filename = 'img/amigos.jpg')}}" alt="">
        </div>
        <div class="col-lg-6 order-lg-first">
          <div class="bg-black text-center h-100 project">
            <div class="d-flex h-100">
              <div class="project-text w-100 my-auto text-center text-lg-right">
                <h4 class="text-white">Amigos</h4>
                <p class="mb-0 text-white-50">No hay nada mejor que compartir tu día con gente increible.</p>
                <hr class="d-none d-lg-block mb-0 mr-0">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>

  <!-- Signup Section -->
  <section id="contacto" class="signup-section">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto text-center">

          <i class="fa fa-whatsapp fa-2x mb-2 text-white"></i>
          <h2 class="text-white mb-5">¡Contáctate conmigo por Whatsapp!</h2>

          <a href="https://wa.me/51969999869?text=¡Hola%20Christian!" class="btn btn-primary mx-auto">Whatsapp</a>
          <!--
          <form class="form-inline d-flex">
            <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address...">
            <button type="submit" class="btn btn-primary mx-auto">Subscribe</button>
          </form>
          -->

        </div>
      </div>
    </div>
  </section>

  <!-- Contact Section
  <section class="contact-section bg-black">
    <div class="container">

      <div class="row">

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-map-marked-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Lugar</h4>
              <hr class="my-4">
              <div class="small text-black-50">Lima, Perú</div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Correo Electrónico</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="mailto:christianledgard@gmail.com">christianledgard@gmail.com</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-mobile-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Celular</h4>
              <hr class="my-4">
              <div class="small text-black-50">+51 969-999-869</div>
            </div>
          </div>
        </div>
      </div>

      <div class="social d-flex justify-content-center">
        <a href="https://www.instagram.com/christianledgard/" class="mx-2">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="https://www.facebook.com/cledgardf" class="mx-2">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://github.com/christianledgard" class="mx-2">
          <i class="fab fa-github"></i>
        </a>
      </div>

    </div>
  </section>
  -->
  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50">
    <div class="container">
      Copyright &copy; Christian Ledgard 2019
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{{url_for('static', filename = 'vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename = 'vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>

  <!-- Plugin JavaScript -->
  <script src="{{url_for('static', filename = 'vendor/jquery-easing/jquery.easing.min.js')}}"></script>

  <!-- Custom scripts for this template -->
  <script src="{{url_for('static', filename = 'js/grayscale.min.js')}}"></script>

</body>

</html>
